:host {
  display: block;
}

svg.icon {
  width: 48px;
  height: 48px;
}

svg.snack {
  width: 48px;
  height: 48px;
}

svg.refuel {
  width: 48px;
  height: 48px;
}

svg.general {
  width: 48px;
  height: 48px;
}
